# 构建与生成文件
build/
*.o
*.obj
*.a
*.so
*.so.*
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
*.qm
Makefile*
*.prl
CMakeLists.txt.user*

# 二进制产物
*.exe
*.dll
*.app
*.pdb

# IDE / 编辑器
.qtcreator/
.qtc_clangd/
*.pro.user*
*.autosave
.vscode/
.idea/
*.swp
*~

# 操作系统
.DS_Store
Thumbs.db
.directory
